body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.hidden-text {
 display: none;
}



article { 
 margin: 80px auto 20px 160px;
 font-size: 12pt;
 padding: 5px;
 max-width: 1000px;
 display: block;
 overflow-x: hidden;
 overflow-y: hidden;
}


.flex-container {
 display: flex; 
 flex-wrap: wrap;
}

.flex-item {
	flex: 45%;
	padding: 10px;
        max-width: 50%;
}

.bib li {
	margin: 5px;
	padding: 10px;
	border: 2px solid #3465A4;
	border-radius: 10px;
}

div.title {
 display: inline;
 font-weight: bold; 
}


.news {
  overflow: hidden;
  display:flex; 
  flex-wrap:wrap;
}

.news-item {
	padding:2px;
}


.talks  th, td { 
  padding: 15px;
  text-align: left;
  max-width: 20%;
}

.talks tr.title {
  background-color: #f2dede;
  color: black;
}


.talks tr.past {
  background-color: #dbbc67;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #809fff;
  }
}


.img-post{
 width : 100%;
}


/* Add a black background color to the top navigation */
.topnav {
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
        padding-right: 160px;
        padding-left: 160px;
	width: 100%;
	max-height: 80px;
	background-color: #2d2d2d;
	overflow: hidden;
}



/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #d9dbda;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #268BD2;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #729FCF;
  color: black;
}

.topnav div.plinks {
  float: right;
  padding-left:160px;
  padding-right:160px;
}

.topnav a.plink {
	float: right;
        font-size: 14px;
}

.topnav a.plink:hover {
	background-color: #2E3436;
	color: white;
}

.topnav .menubutton {
  display: none;
}


div.bibtexout {
   background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #268BD2;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

div.bibtexout.closed {
	display: none;
}

@media screen and (max-width: 800px) {

	article {
		margin: auto; 
		padding: 5px;
		padding-top: 50px;
	}	  

        .topnav {
                 padding-left: 0px;
                 padding-right: 0px;
	         max-height: 50%;
		 overflow-y: auto;
        }
	.topnav a:not(:first-child) {display: none;}
	.topnav a.menubutton {
		float: right;
		display: block;
	}
	.topnav div.plinks {
		display: none;
	}

	.topnav.responsive {position: fixed;}
	.topnav.responsive .menubutton {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.topnav.responsive div.plinks {
		padding-left: 0px;
		padding-right: 0px;
		display: flex;
		flex-wrap: wrap;
	}
	.topnav.responsive a.plink {
		text-align: left;
		float: none;
	}
}
